html{font-size:13px;}

input:not([type]),
input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default),
input[type=email]:not(.browser-default),
input[type=url]:not(.browser-default),
input[type=time]:not(.browser-default),
input[type=date]:not(.browser-default),
input[type=datetime]:not(.browser-default),
input[type=datetime-local]:not(.browser-default),
input[type=tel]:not(.browser-default),
input[type=number]:not(.browser-default),
input[type=search]:not(.browser-default),textarea.materialize-textarea {
	border-bottom: 2px;
	padding: 0px 9px;
	border: 1px solid #5b73e8;
	height:41px;
	margin-bottom:0px;
	border-radius: 3px;
}
.select2-container--default .select2-selection--multiple, .select2-container--default .select2-selection--single, .select2-container--default.select2-container--focus .select2-selection--multiple
{
	border-bottom: 2px;
	padding: 0px 10px;
		border: 1px solid #5b73e8;
	border-radius: 3px;
	margin-right:-22px;
}
.input-field.col label {
	left: 1.75rem;
	font-size:0.9rem;
	padding-top:2px;
	text-transform:capitalize;
}
.input-field.col label.active{font-size:12px; font-weight:600;} 
 .select-wrapper + label.active {
	top: 0px;
	color: #5b73e8;
}
  .select-wrapper + label {font-size:0.9rem;}
.input-field {
	margin-top: 2px;
	margin-bottom: 2px;
}

.select-wrapper input.select-dropdown:focus {
		border: 1px solid #5b73e8;
}

.input-field > label:not(.label-icon).active {
	-webkit-transform: translateY(0px) scale(.8);
	-ms-transform: translateY(0px) scale(.8);
	transform: translateY(0px) scale(.8);
	-webkit-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	transform-origin: 0 0;
	color: #5b73e8c2;
}

input.valid:not([type]),
input.valid:not([type]):focus,
input.valid[type=text]:not(.browser-default),
input.valid[type=text]:not(.browser-default):focus,
input.valid[type=password]:not(.browser-default),
input.valid[type=password]:not(.browser-default):focus,
input.valid[type=email]:not(.browser-default),
input.valid[type=email]:not(.browser-default):focus,
input.valid[type=url]:not(.browser-default),
input.valid[type=url]:not(.browser-default):focus,
input.valid[type=time]:not(.browser-default),
input.valid[type=time]:not(.browser-default):focus,
input.valid[type=date]:not(.browser-default),
input.valid[type=date]:not(.browser-default):focus,
input.valid[type=datetime]:not(.browser-default),
input.valid[type=datetime]:not(.browser-default):focus,
input.valid[type=datetime-local]:not(.browser-default),
input.valid[type=datetime-local]:not(.browser-default):focus,
input.valid[type=tel]:not(.browser-default),
input.valid[type=tel]:not(.browser-default):focus,
input.valid[type=number]:not(.browser-default),
input.valid[type=number]:not(.browser-default):focus,
input.valid[type=search]:not(.browser-default),
input.valid[type=search]:not(.browser-default):focus,textarea.materialize-textarea.valid,textarea.materialize-textarea.valid:focus,.select-wrapper.valid > input.select-dropdown {
	border: 2px solid #00bfa5;
	box-shadow: none;
}
input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly])
{
	border: 1px solid #5b73e8;

}
input.invalid:not([type]),
input.invalid:not([type]):focus,
input.invalid[type=text]:not(.browser-default),
input.invalid[type=text]:not(.browser-default):focus,
input.invalid[type=password]:not(.browser-default),
input.invalid[type=password]:not(.browser-default):focus,
input.invalid[type=email]:not(.browser-default),
input.invalid[type=email]:not(.browser-default):focus,
input.invalid[type=url]:not(.browser-default),
input.invalid[type=url]:not(.browser-default):focus,
input.invalid[type=time]:not(.browser-default),
input.invalid[type=time]:not(.browser-default):focus,
input.invalid[type=date]:not(.browser-default),
input.invalid[type=date]:not(.browser-default):focus,
input.invalid[type=datetime]:not(.browser-default),
input.invalid[type=datetime]:not(.browser-default):focus,
input.invalid[type=datetime-local]:not(.browser-default),
input.invalid[type=datetime-local]:not(.browser-default):focus,
input.invalid[type=tel]:not(.browser-default),
input.invalid[type=tel]:not(.browser-default):focus,
input.invalid[type=number]:not(.browser-default),
input.invalid[type=number]:not(.browser-default):focus,
input.invalid[type=search]:not(.browser-default),
input.invalid[type=search]:not(.browser-default):focus,textarea.materialize-textarea.invalid,textarea.materialize-textarea.invalid:focus,.select-wrapper.invalid > input.select-dropdown,.select-wrapper.invalid > input.select-dropdown:focus {
	border: 2px solid #ff5252;
	box-shadow: none;
}

.select-wrapper label.invalid {
    margin-top: 62px;
    margin-left: -11px;
    color: #F44336;
}
.form-error {
  color: #D8000C;
}
.select2-container--default .select2-selection--multiple input{margin-bottom:0px;}
/*multi select*/

:root {
    --ct-bg: #fbfbfb;
    --ct-btn-hover: #e8e8e8;
    --ct-btn-active: #ddd;
    --ct-btn-color: #555;
    --ct-border-color: #e1e1e1;
    --ct-border-radius: 5px;
    --ct-tree-hover: #efefef;
    --ct-selection: #418EFF;
    --ct-padding: 8px;
}


.comboTreeWrapper{
	position: relative;
	text-align: left !important;
}

.comboTreeInputWrapper{
	position: relative;
}

.comboTreeArrowBtn {
	display:none;
	position: absolute;
    right: 0px;
    bottom: 0px;
    top: 0px;
    box-sizing: border-box;
  
    border-radius: 0 var(--ct-border-radius) var(--ct-border-radius) 0;
    background: var(--ct-border-color);
    cursor: pointer;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
.comboTreeArrowBtn:hover {
    background: var(--ct-btn-hover);
}
.comboTreeArrowBtn:active {
    background: var(--ct-btn-active);
}
.comboTreeInputBox:focus + .comboTreeArrowBtn {
    color: var(--ct-btn-color);
    border-top: 1px solid var(--ct-selection);
    border-right: 1px solid var(--ct-selection);
    border-bottom: 1px solid var(--ct-selection);
}

.comboTreeArrowBtnImg{
    font-size: 1.25rem;
}

.comboTreeDropDownContainer {
	display: none;
	background: var(--ct-bg);
	border: 1px solid var(--ct-border-color);
	position: absolute;
  width: 320px;
 
  z-index: 999;
	max-height: 250px;
	overflow-y: auto;
}

.comboTreeDropDownContainer ul{
	padding: 0px;
	margin: 0;
}

.comboTreeDropDownContainer li{
	list-style-type: none;
	padding-left: 15px;
}

.comboTreeDropDownContainer li .selectable{
	cursor: pointer;
}

.comboTreeDropDownContainer li .not-selectable{
	cursor: not-allowed;
}


.comboTreeDropDownContainer li:hover{
	background-color: var(--ct-tree-hover);}
.comboTreeDropDownContainer li:hover ul{
	background-color: var(--ct-bg)}
.comboTreeDropDownContainer li span.comboTreeItemTitle.comboTreeItemHover{
	background-color: var(--ct-selection);
	color: var(--ct-bg);
    border-radius: 2px;
}

span.comboTreeItemTitle{
	display: block;
    padding: 3px var(--ct-padding);
}
.comboTreeDropDownContainer label{
    cursor: pointer;
	width: 100%;
    display: block;
}
.comboTreeDropDownContainer .comboTreeItemTitle input {
	position: relative;
    top: 2px;
	margin: 0px 4px 0px 0px;
}
.comboTreeParentPlus{
    position: relative;
    left: -12px;
    top: 4px;
    width: 4px;
    float: left;
		cursor: pointer;
}


 

.multiplesFilter{
	width:320px;
	padding: 5px;
	box-sizing: border-box;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid var(--ct-border-color);
}
/*multi select*/

.addbtn, .rmvbtn{display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 12px;
    right: 0px;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    color: #4d4d4d;}
    .addbtn a{color:#4d4d4d;}
    .sub_val{width:55px;
    	position:absolute; height:20px; top:0px; left:15px;
border:0px;
    }
    .sub_val .select-dropdown{border:0px!important;}
    .mobile_number{padding-left:70px!important; width:calc(100% - 60px)!important;}
    .dopr_down_holder_label{left:80px!important;}
ul.stepper .step .step-title
{padding:15px;}
#main.main-full{padding-left:0px;}
.sidenav-dark.sidenav-main .brand-sidebar .brand-logo{width:70px; background:transparent;}


.nav-collapsed.sidenav-main{width:0px;}
.brand-sidebar .brand-logo{padding:5px 7px;}
.brand-sidebar .logo-wrapper a.brand-logo img{width:30px; height:30px;}
ul.stepper.horizontal{min-height:1100px; overflow-y: none;}
ul.stepper.horizontal .step .step-content{top:60px; padding:15px; height:100%; min-height:900px; width:calc(100% - 30px)}

ul.stepper.horizontal::before{min-height:60px;}
.card .card-content{padding-top:0px; min-height:1100px;}
ul.stepper.horizontal .step{height:60px;}
ul.stepper.horizontal .step, ul.stepper.horizontal .step:last-of-type{  }
ul.stepper.horizontal .step .step-title
{ 
	 border-radius:5px;
    height: 30px;
    line-height: 25px;
    background: #ccc;
    padding: 3px 15px;
    text-align: center;
    font-size:11px;
    width:calc(100% - 10px);
}
ul.stepper.horizontal .step .step-title:before{display:none;}
ul.stepper.horizontal .step .step-title::before{display:none;}


    /*new css*/
    .lead_source_info
{
	display: none;
	position: absolute;	
    
    padding: 10px 20px;
    border: 1px solid #ccc;
    background: #ffff;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    width: 606px;
    
    z-index: 10;
    top:50px;
    
    background-color: #fff;
}
.lead_source_info .inline-block-div
{
	display: inline-block;
	margin-left: 10px;
}
.lead_source_info .portal
{
	padding-left: 0;
	text-transform: uppercase;
}
.magic_bricks
{
	padding-left: 0;
	margin-top: 0;
}
.lead_detail_row .col-lg-3
{
	padding-right: 3px;
	padding-left: 3px;
}

button, input, optgroup, select, textarea{font-size:1rem!important;}
ul.stepper.horizontal .step.active .step-title{background:#5b73e8; color:#fff; font-weight:600;}

.select2-container--default .select2-selection--multiple .select2-selection__rendered{margin-top:10px; padding-top:2px;height:32px;} 
.select2-search__field{width:80%/*display:none*/} 
.select2-container--default .select2-search--dropdown .select2-search__field{width:91%; }
 
.select2-container--default .select2-search--inline .select2-search__field{height:15px;}
.select2-container--default .select2-selection--multiple, .select2-container--default .select2-selection--single, .select2-container--default.select2-container--focus .select2-selection--multiple{height:43px;}
 .select2-container--default .select2-selection--multiple .select2-selection__choice{margin-top:3px; padding:2px;     font-size: 10px;
    width: 25%;
    overflow-x: hidden;}
 .select2-container--default .select2-selection--single .select2-selection__arrow b { 
     border-width: 5px 5px 0 5px;
  border-color: #888 transparent transparent transparent;

}
.select2-container .select2-selection--single .select2-selection__rendered{padding-right:0px;}
::-webkit-input-placeholder { /* Edge */
  color: #444;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #4d4d4d;
}

::placeholder {
  color: #4d4d4d;
}
.sub_val .select2-container--default .select2-selection--single{border:0px; background:none;}

input[type=search]:not(.browser-default):focus:not([readonly]){border:0px;}
span.select2-results{  width: calc(100% + 20px); background-color: white;  } 

.select2-container--default .select2-results > .select2-results__options{    width: 100% } 
.select2-results__option{   width: 100% }
/* .select2-container--open .select2-dropdown--above, .select2-container--open .select2-dropdown--below{width: 250px!important;} */
.select2-search {
    /*display:none*/
}
.display_search .select2-search{display:block}
ul.stepper .step .step-content{
	padding-left:30px;
	padding-right:30px;
	margin-left: 15px; 
    margin-right: 15px;
}
 
 
 @media screen and (max-width: 992px) {
	 ul.stepper .step .step-content
	 {margin-left:0px;}
	 .input-field{padding-left:5px;}
 }
 #AddMoreFileId6{
	 cursor: pointer;
 }
    /*new css*/

input{
    background-color: white !important;
}

textarea{
    background-color: white !important;
}