label{
    user-select: none;  
    /* pointer-events: none;      */
}

.userselect{
    user-select: none;   
    pointer-events: none;
}

.collapsible-header:hover {
    background-color: orange;
  }
  



.collapsible-body{
    border-bottom: 0px !important;
}

div label input {
margin-right:100px;
}
body {
    font-family:sans-serif;
}

#ck-button {
    margin:4px;
    background-color:#d1eab0;
    border-radius:4px;
    border:1px solid #D0D0D0;
    overflow:auto;
    float:left;
}

#ck-button label {
    float:left;
    width:auto;
}

#ck-button label {
    position: relative;
    display: block;
    overflow: hidden;
}
#ck-button label input {
    position:absolute;
    top:-20px;
}

#ck-button input:checked + span {
    background-color:#6fb710;
    color:#fff;
}

[type='checkbox'] + span:not(.lever):before, [type='checkbox']:not(.filled-in) + span:not(.lever):after{
    z-index: -1 !important;
}


#ck1-button {
    margin:4px;
    background-color:#fdd9fb;
    border-radius:4px;
    border:1px solid #D0D0D0;
    overflow:auto;
    float:left;
}


#ck1-button label span {
    text-align:center;
    padding:3px 0px;
    display:block;
}



#ck1-button label  {
    position: relative;
    display: block;
    overflow: hidden;
}
#ck1-button label input{
    position:absolute;
    top:-20px;
}


#ck1-button input:checked + span {
    background-color:#b710af ;
    color:#fff;
}

button, input, optgroup, select, textarea {
    border-bottom: 2px;
    padding: 0px 9px;
    border: 1px solid #5b73e8;
    height: 43px;
    width: 106%;
    margin-bottom: 0px;
    border-radius: 3px;
    /* font-size: 1rem!important; */
    
}

input{
    font-size: 13px !important;
}


.rupeeSign:before {
content: '₹';
position: absolute;
top: 13px;
left: 76px;
z-index: 1
}


.rupeeSign1:before {
    content: '₹';
    position: absolute;
    top: 13px;
    left: 16px;
    z-index: 1
    }